<h1>Buy <%= product.name %></h1>

<form class="mb-5" method="post">
  <input
    type="number"
    class="form-control"
    placeholder="Insert quantity"
    name="qty"
  />
  <button type="submit" class="btn btn-primary">Buy</button>
</form>
