<h1>Products</h1>

<form class="mb-5">
  <input
    type="text"
    class="form-control"
    placeholder="Search Product"
    name="q"
  />
</form>
<% if (products.length > 0) { %>
<p>Total Products : <%= products.length %></p>
<% } else { %>
<p>Tidak ada product</p>
<% } %>

<div class="d-flex flex-wrap justify-content-between gap-2">
  <% products.forEach(product => { %> <%- include('components/ProductCard', {
  product }) %> <% }) %>
</div>
